@import "variables";
@import "mixins";

.section {
  margin: 60px 0;
  position: relative;
  .figure {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 37px;
    height: 114px;
    background: $yellow-color 0% 0% no-repeat padding-box;
    justify-self: end;
  }

  .container {
    display: flex;
    gap: 65px;
    flex-direction: row;
    padding-top: 77px;
    width: 1000px;
    margin: 0 auto;
    .content_image {
      margin: 0;
      img {
        width: 100%;
      }
    }

    .content {
      margin-top: 100px;
      max-width: 460px;
      h1 {
        text-align: left;
        @include font-source-sans(40px, $black-color, 900, 77px);
        letter-spacing: 0.63px;
        opacity: 1;
        margin-bottom: 60px;
        line-height: normal;
      }
      p {
        text-align: left;
        @include font-source-sans(23px, $black-color, 300, 28px);
        letter-spacing: 0.12px;
        opacity: 1;
        margin-bottom: 20px;
      }
      .goTo {
        position: relative;
        background-image: linear-gradient($yellow-color, $yellow-color);
        background-size: 0 60px;
        background-repeat: no-repeat;
        transition: 0.4s;
        text-decoration: none;
        text-align: left;
        @include font-source-sans(16px, $black-color, bold, 22px);
        letter-spacing: 0.77px;
        padding: 2px 13px;
        border-radius: 50px;
        &:hover {
          background-size: 100% 100%;
        }

        &::before {
          content: "";
          width: 24.5px;
          height: 100%;
          background: $yellow-color 0% 0% no-repeat padding-box;
          border-radius: 100%;
          position: absolute;
          z-index: -1;
          left: 0px;
          top: 0px;
        }
      }
    }
  }
}

@include mq("phone", max) {
  .section {
    padding-bottom: 50px;
    margin: 15px 0;

    .container {
      width: 100%;
      display: flex;
      flex-direction: column;

      .content {
        margin: 0;
        padding: 0 30px;
        h1 {
          margin-bottom: 18px;
        }

        .goTo {
          background: $yellow-color 0% 0% no-repeat padding-box;
          padding: 7px 15px;
        }
      }
    }

    .figure {
      max-width: 130px;
      img {
        width: 100%;
      }
    }
  }
}
